<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/img/guia.png" alt="">
  </a>
  <a class="navbar-brand" href="/perguntar">
    <img src="/img/question.png" alt="">
  </a>
</nav>
